body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  text-decoration: none;
  color: inherit;
}

.blue {
  color: #0d6efd;
}

.checkout-step > div {
  border-bottom: .2rem solid gray;
  color: gray;
  text-align: center;
}

.checkout-step>div.active {
  border-bottom: .2rem solid #0d6efd;
  color: #0d6efd;
}

